<!-- templates/login.html -->
{{ define "title" }}Login - Meu Blog{{ end }}
{{ define "content" }}
    <form action="/login" method="POST" class="mt-5">
        <h2>Login de Admin</h2>
        <div class="mb-3">
            <input type="text" name="username" placeholder="Usuário" class="form-control" required>
        </div>
        <div class="mb-3">
            <input type="password" name="password" placeholder="Senha" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
{{ end }}
